{% extends 'inicial/base.html' %}
{% block head %}
    {% load staticfiles %}
{% endblock %}
{% block body %}

            <!--========== PROMO BLOCK ==========-->
        <div class="g-fullheight--xs js__parallax-window" style="background: url({% static 'inicial/img/1920x1080/background3.png' %}) 50% 0 no-repeat fixed; background-size: cover;">
            <div class="g-container--md g-ver-center--xs g-text-center--xs">
                <div class="g-margin-b-70--xs">
                    <h1 class="g-font-size-55--sm g-font-size-70--lg g-font-family--playfair g-color--primary g-margin-b-20--xs g-margin-b-40--sm">Mais de 500 Faixas Preta</h1>
                    <p class="g-font-size-18--xs g-font-size-20--sm g-font-size-24--lg g-color--white g-margin-b-0--xs">Você pode conferir todos os Karatecas Faixas Preta que estão Registrados a Federação de Karatê Semi Contato. Se você é Faixa Preta e o seu nome não está aqui, fale com o seu professor.</p>
                </div>
                <a href="#js__scroll-to-section" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-60--xs">Registre-se</a>
            </div>
            <a href="http://keenthemes.com/" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
                <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
                <p class="text-uppercase g-font-family--playfair g-color--white g-letter-spacing--3 g-margin-b-0--xs">Confira os Pretas Registrados</p>
            </a>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
        <!-- About -->
        <div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--sm g-margin-b-25--xs">
            <div class="row g-hor-centered-row--md">
                <div class="col-md-8 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
                    <div class="g-width-100-percent--xs g-width-400--md g-margin-b-40--xs">
                        <h2 class="g-font-size-32--xs g-font-size-36--md g-font-family--playfair g-margin-b-20--xs">Seja reconhecido <br>no Mundo todo.</h2>
                        <p class="g-font-size-16--sm">Para você ser um Faixa Preta você precisa fazer o seu Registro na Federação de Karatê Semi Contato.</p>
                        <p class="g-font-size-16--sm">Dessa forma você será reconhecido como Faixa Preta em outras cidades e estados.</p>
                        <p class="g-font-size-16--sm">Você deve registrar também à Confederação Brasileira de Karatê Semi Contato para ser reconhecido Nacionalmente.</p>
                        <p class="g-font-size-16--sm">E pode registrar-se à Shotokan Karate International Federation (SKIF), para ser reconhecido no Mundo todo.</p>
                    </div>
                    <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                        <div class="g-position--overlay g-text-left--xs g-text-right--md g-margin-t-o-50--lg">
                            <span class="g-font-size-60--xs g-font-size-80--sm g-font-size-105--lg g-font-family--playfair g-color--primary g-line-height--xs">21</span>
                            <span class="text-uppercase g-display-block--xs g-font-size-34--xs g-font-size-40--sm g-font-size-50--lg g-font-weight--700 g-font-family--playfair g-color--primary g-line-height--xs">Anos</span>
                            <p class="g-font-size-18--xs g-font-size-20--lg">de Experiência</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 col-xs-offset-3 g-full-width--xs g-full-width-offset-0--xs g-hor-centered-row__col">
                    <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="{% static 'inicial/img/400x400/pretas.jpg' %}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <!-- End About -->

    <!-- Tabela dos Pretas Registrados -->

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default"
             <div class="panel-body">
                 <h3>Faixas Pretas Registrados</h3>
                 <table class="table">
                     <thead>
                     <tr>
                         <th>Nome</th>
                         <th>Academia</th>
                         <th>Número de Registro</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for preta in todos_pretas %}
                     <tr>
                         <td>{{ preta.nome_preta }}</td>
                         <td>{{ preta.academia }}</td>
                         <td>{{ preta.num_reg }}</td>
                     </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
        </div>
    </div>


    <!-- Final dos Pretas Registrados -->

    <!-- News -->
        <div class="container g-padding-y-80--xs g-padding-y-125--sm">
            <div class="g-text-center--xs g-margin-b-80--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Blog</p>
                <h2 class="g-font-size-32--xs g-font-size-36--md">Últimas Notícias</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                    <!-- News -->
                    <article>
                        <img class="img-responsive" src="{% static 'inicial/img/1920x1080/copadapaz.png' %}" alt="Image">
                        <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">Notícias</p>
                            <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="{% url 'campeonatos:index' %}">IX Copa da Paz.</a></h3>
                            <p>Um campeonato de magnitude Internacional que será sediado no Brasil.</p>
                        </div>
                    </article>
                    <!-- End News -->
                </div>
                <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                    <!-- News -->
                    <article>
                        <img class="img-responsive" src="{% static 'inicial/img/1920x1080/filie.png' %}" alt="Image">
                        <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">Informativos</p>
                            <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="{% url 'filiados:atletas' %}">Como me filiar?</a></h3>
                            <p>E agora? Desejo me filiar ou filiar os meus alunos, como faço? Clica e descubra</p>
                        </div>
                    </article>
                    <!-- End News -->
                </div>
                <div class="col-sm-4">
                    <!-- News -->
                    <article>
                        <img class="img-responsive" src="{% static 'inicial/img/970x970/brasileiro2017.png' %}" alt="Image">
                        <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">Notícias</p>
                            <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="{% url 'campeonatos:index' %}">XXI Campeonato Brasileiro Inter Clubes.</a></h3>
                            <p>Descubra o sucesso que foi participar do Campeonato Brasileiro de 2017.</p>
                        </div>
                    </article>
                    <!-- End News -->
                </div>
            </div>
        </div>
        <!-- End News -->

        <!-- Feedback Form -->
        <div class="g-position--relative g-bg-color--primary">
            <div class="g-container--md g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Contato</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-font-family--playfair g-color--white">Entre em Contato</h2>
                </div>
                <div class="row g-row-col--5 g-margin-b-80--xs">
                    <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--sm">
                        <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="g-text-center--xs">
                                <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                                <h4 class="g-font-size-18--xs g-font-family--playfair g-color--white g-margin-b-5--xs">Email</h4>
                                <p class="g-color--white-opacity">contato@fksc.com.br</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--sm">
                        <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="g-text-center--xs">
                                <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                                <h4 class="g-font-size-18--xs g-font-family--playfair g-color--white g-margin-b-5--xs">Endereço</h4>
                                <p class="g-color--white-opacity">Rua Luciano Carneiro Qd. 4 Lt. 1 Bairro Calixto Abrão</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs">
                        <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="g-text-center--xs">
                                <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-headphone-alt"></i>
                                <h4 class="g-font-size-18--xs g-font-family--playfair g-color--white g-margin-b-5--xs">Ligue</h4>
                                <p class="g-color--white-opacity">TIM - (62)9 8183-8021 </p>
                                <p class="g-color--white-opacity">Claro - (62)9 9133-1667 </p>
                                <p class="g-color--white-opacity">Vivo - (62)9 8582-9140 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="center-block g-width-500--sm g-width-550--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class="form-control s-form-v3__input" placeholder="* Nome">
                    </div>
                    <div class="row g-row-col-5 g-margin-b-50--xs">
                        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                            <input type="email" class="form-control s-form-v3__input" placeholder="* Email">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control s-form-v3__input" placeholder="* Telefone">
                        </div>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v3__input" rows="5" placeholder="* Sua mensagem"></textarea>
                    </div>
                    <div class="g-text-center--xs">
                        <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Envie</button>
                    </div>
                </form>
            </div>
            <img class="s-mockup-v2" src="{% static 'inicial/img/mockups/pencil-01.png' %}" alt="Mockup Image">
        </div>
        <!-- End Feedback Form -->
        <!--========== END PAGE CONTENT ==========-->


{% endblock %}